.Danger {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin: 1em 2.5em 0 2.5em;
  outline: none;
  border: 1px solid #f5160f;
  padding: 0.4rem;
  font-size: 15px;
  border-radius: 0.3em;
  color: white;
  background-color: #dc3545;
}

.Success {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin: 1em 2.5em 0 2.5em;
  outline: none;
  border: 1px solid #28a745;
  padding: 0.4rem;
  font-size: 15px;
  border-radius: 0.3em;
  color: white;
  background-color: #28a745;
}
